NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <!-- Root element -->
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NationalPark" type="NationalParkType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- NationalPark complex type -->
  <xs:complexType name="NationalParkType">
    <xs:sequence>
      <xs:element name="n" type="xs:string"/>
      <xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="Address" type="AddressType"/>
    </xs:sequence>
    <xs:attribute name="Rating" type="RatingType" use="optional"/>
  </xs:complexType>

  <!-- Address complex type -->
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:string"/>
      <xs:element name="Street" type="xs:string"/>
      <xs:element name="City" type="xs:string"/>
      <xs:element name="State" type="xs:string"/>
      <xs:element name="Zip" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- Rating type - decimal between 0 and 5 -->
  <xs:simpleType name="RatingType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.0"/>
      <xs:maxInclusive value="5.0"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
